@{
    Layout = null;

}

<link rel="stylesheet" type="text/css" href="~/Scripts/InicioAdmin.css" />

<!--Menu-->
<div class="menu">
    @*<a class="a-1" href="https://cdpn.io/Jack_BSK/debug/PoZyePd/vWMRwRDmoKQr"><img src="https://image.flaticon.com/icons/png/512/17/17547.png" alt=""></a>*@
    <a href="#">Lista Camiones</a>
    <a href="#">Conductores</a>
    <a href="/LogIn">Log in</a>
</div>
<!--Encabezado-->
<div class="main-section">
    <div class="overlay text-center">
        <h1 class="title-3 ver-ali"> Hola,</h1>
        <span class="text-center title-2">Empresa de transporte de carga pesada</span>
        @*<div class="title-4 let-white">
                <span>Web</span>
                <span class="espace">Movil</span>
                <span class="espace">Escritorio</span>
            </div>*@
        <div>
            <span><a href="https://www.facebook.com/naraku.alegre.3" target="_blank"><i class="fab fa-facebook fa-2x"></i></a></span>
            <span class="logos"><a href="https://www.instagram.com/naraku2656/?hl=es-la" target="_blank"><i class="fab fa-instagram fa-2x"></i></a></span>

            <span class="logos"><a href="https://www.youtube.com/channel/UCiTAEiriZHlS9E1btGhDo6Q" target="_blank"><i class="fab fa-youtube fa-2x"></i></a></span>
        </div>
    </div>
</div>
<!--Acerca de mi-->
<section class="main-a">
    <div class="d-flex-md">
        <div class="col-md-1">
            <img src="https://www.fuso.com.pe/blog/wp-content/uploads/2018/08/tipos-camiones-industrias.jpg" class="foto" width="150" height="100">
        </div>
        <div class="col-md-2">
            <article>
                <h3> Información</h3>
                Leiciendis doloribus expedita animi. Quod, laborum!
            </article>
        </div>
    </div>
</section>
<!--Tarjetas-->
<section class="hg-light">
    <h3 class="title-3 text-center"> DATOS</h3>
    <div class="d-flex-md">
        <div class="col-md-3">
            <div class="card">
                <h4 class="title-4 text-center">Lista Camiones</h4>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum numquam distinctio, non enim possimus, suscipit cumque amet rem tenetur pariatur ipsum. Inventore ratione in, quo id quam pariatur. Quasi, modi?
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <h4 class="title-4 text-center">Gastos</h4>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum numquam distinctio, non enim possimus, suscipit cumque amet rem tenetur pariatur ipsum. Inventore ratione in, quo id quam pariatur. Quasi, modi?
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <h4 class="title-4 text-center">Conductores</h4>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum numquam distinctio, non enim possimus, suscipit cumque amet rem tenetur pariatur ipsum. Inventore ratione in, quo id quam pariatur. Quasi, modi?
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <h4 class="title-4 text-center">Valance Gastos</h4>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum numquam distinctio, non enim possimus, suscipit cumque amet rem tenetur pariatur ipsum. Inventore ratione in, quo id quam pariatur. Quasi, modi?
            </div>
        </div>
    </div>
</section>
<!--Pie de pagina-->
<section class="text-center main-a">
    <i class="fas fa-copyright">Derechos reservados</i>
</section>
